{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <p style="color:red">
   {% for msg in messages%}
    {{ msg }}
    {% endfor %}
    </p>

    <form action="register" method="POST">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" name="uname" placeholder="Enter your Username" required>
      </div>
      <div class="input-box">
        <input type="text" name="first_name" placeholder="Enter your First name" required>
      </div>
      <div class="input-box">
        <input type="text" name="last_name" placeholder="Enter your Last name" required>
      </div>
      <div class="input-box">
        <input type="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="password" name="pass" placeholder="Create password" required>
      </div>
      <div class="input-box">
        <input type="password" name="cpass" placeholder="Confirm password" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="#">Login now</a></h3>
      </div>
    </form>
  </div>

</body>
</html>
